/* (ctrl + :) para atalho do comentario */
/* - 4 - External */
body {
    padding-bottom: 500px;
}

h3 { 
    color: gold;
}

/* p {
    color: rgb(194, 61, 176);
} */

/* - 8 - Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

    /* - 9 - IDS */
        #exclusive-title{
            background-color: purple;
            color: yellow;
            padding: 10px;
        }

        /* - 10 - Ordem das regras */
        h2{
            border-bottom: 2px solid red;
        }

        .titulo {
            border-bottom: 3px solid blue;
        }

        #algum-titulo{
            border-bottom: 4px solid green;
        }

        /* - 11 - Nome de cores */
        .color-name{
            color: crimson;
        }

        /* - 12 - hex */
        .hex{
            color: #55a398;
        }
        .hex-2{
            color: #28f7a4;
        }

        /* - 13 - aprofundando em hex não precisa colocar 6 numeros ou letras */
        .simple-hex{
            color: #333;
        }
        .simple-hex-2{
            color: #f3a;
        }

        /* - 14 - RGB */
        .rgb{
            color: rgb(255, 0, 0);
        }
        .mixed-rgb{
            color: rgb(117, 67, 1);
        }
        /* - 15 - RGBA  muda a força da cor*/
        .rgba {
            color: rgba(9, 99, 218, 0.4);
        }

        /* - 16 - HSL */
        .hsl{
            color: hsl(80, 69%, 35%);
        }
        .hsl-2{
            color: hsl(18, 73%, 85%);
        }

        /* - 17 - Background */
        .bg{
            background-color: #000;
            color: yellow;
        }
        .bg-2{
            background-color: #f3a;
            color: #333;
        }

        /* - 18 - Background opacity */
        .bg-opacity{
            background-color: green;
            opacity: 0.2;
        }
        .bg-opacity-2{
           background-color: #999;
           color: #ffffff;
        }

        /* - 19 - rgba com opacidade */
        .rgba-opacity{
            background-color: rgba(90, 130, 20, 0.35);
            color: #000;
        }

        /* - 20 - Imagens no background */
        .bg-image{
            background-image: url("../2_CSS/img/nature.jpg");
            padding: 10px;
            color: #fff;
        }

        /* - 21 - Centralizando bg image */
        .not-centered-bg,
        .centered-bg{
            height: 400px;
            width: 400px;
            background-image: url(../2_CSS/img/bridge.jpg);
        }

        .centered-bg{
            background-position: center;
            background-size: cover;
        }

        /* - 22 - largura e altura */
        .height-width{
            height: 200px;
            width: 100px;
            background-color: red;
        }

        .height-width-2{
            height: 300px;
            background-color: #333;
        }

        /* - 23 - padding */
        .without-padding,
        .padding{
            background-color: #111;
            color: #fff;
        }

        .padding{
            background-color: #333;
            padding: 30px;
        } 
         
        /* - 24 - padding individual */
        .padding-individual{
            background-color: #222;
            color: #fff;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 20px;
            padding-bottom: 40px;
        }

        /* - 25 - shorthand padding */
        .shorthand-padding{
            background-color: #444;
            padding: 6px 12px 18px 24px;
        }

        .shorthand-padding-2{
            background-color: #555;
            padding: 10px 20px;
            /* padding: 10px 20px 10px 20px; */
        }

        /* - 26 - padding com width */
        .without-border-box{
            background-color: #444;
            color: #fff;
            width: 400px;
            padding: 50px;
        }

        .border-box{
            background-color: #666;
            color: #fff;
            width: 400px;
            padding:50px;
            box-sizing: border-box;
        }

        /* - 27 - border */
        .border{
            border: 5px solid red;
            padding: 10px;
        }

        .border-2{
            border: 2px dotted #931;
            padding: 10px;
        }

        /* - 28 - borda individual */
        .border-left{
            border-left: 3px solid red;
            background-color: #222;
            padding: 25px;
        }
        .border-bottom{
            border-bottom: 5px double #399;
            background-color: #222;
            padding: 20px;
        }

        /* - 29 - borda arredondada */
        .rounded-p{
            border: 4px solid blue;
            background-color: #000;
            color: blue;
            padding: 15px;
            border-radius: 15px;
        }

        .rounded-p-2{
            background-color: #000;
            color: blue;
            padding: 15px;
            border-radius: 15px;
        }

        /* - 30 - margem */
        .margin {
            margin: 10px;
            background-color: #222;
        }

        .margin-top {
            margin-top: 50px;
            background-color: #444;
            padding: 10px;
        }

        .margin-shorthand {
            background-color: #666;
            margin: 5px 10px 15px 20px;
        }

        /* - 31 - box model */
        .box-model {
            margin: 20px;
            padding: 15px 25px;
            border: 3px solid rgb(255, 128, 0);
            border-radius: 7px;
            width: 200px;
            height: 300px;
            background-image: url(../2_CSS/img/nature.jpg);
            color: #fff;
        }

        /* - 33 - text align */
        .text-alignment{
            text-align: right;
        }

        .container-center{
            text-align: center;
            width: 300px;
            border: 1px solid red;
        }

        /* - 34 - decoração de texto */
        .underline {
            text-decoration: underline;
        }

        .line-trough {
            text-decoration: line-through;
        }

        .remove-underline {
            text-decoration: none;
            color: red;
        }

        /* - 35 - Transformação de texto */
        .upper {
            text-transform: uppercase;
        }

        .lower {
            text-transform: lowercase;
        }

        /* - 36 - Espaçamento de letras */
        .spacing {
            letter-spacing: 8px;
        }

        /* - 37 - Fontes */
        .serif {
            font-family: georgia;
        }

        .sans-serif {
            font-family: Helvetica;
        }

        .monospace {
            font-family: Courier 'Courier New';
        }

        .cursive {
            font-family: cursive;
        }

        .fantasy {
            font-family: fantasy;
        }

        /* - 38 - Tipos de fontes */
        .italic {
            font-style: italic;
        }

        .oblique{
            font-style: oblique;
        }

        /* - 39 - Font weight */
        .thin, .bold, .bolder{
            font-family: helvetica;
        }
        .thin{
            font-weight: 100;
        }

        .bold{
            font-weight: 600;
        }

        .bolder{
            font-weight: 900;
        }

        /* - 40 - Font size */
        .small{
            font-size: 10px;
        }

        .big{
            font-size: 78px;
        }

        /* - 41 - Display */
        .inline-box{
            width: 50px;
            height: 50px;
            background-color: #28f7a4;
            margin: 10px;
            display: inline-block;
        }

        .block{
            background-color: #333;
            color: #28f7a4;
            display: block;
            margin: 10px;
        }

        /* - 42 - Escondendo elementos */
        .invisible{
            display: none;
        }

        /* - 43 - Position static */
        .static{
            position: static;
            background-color: #931;
            color: #fff;
            width: 100px;
            height: 100px;
        }

        /* - 44 - Position Relative  */
        .relative{
            position: relative;
            background-color: #224;
            color: #fff;
            width: 100px;
            height: 100px;
            top: 100px;
            left: 40px;
        }

        /* - 45 - Position Absolute */
        .absolute{
            position: absolute;
            background-color: #972;
            color: #fff;
            width: 100px;
            height: 100px;
            top: 2px;
            right: 2px;
        }

        /* 46 - Relative com Absolute */
        .relative-container{
            width: 300px;
            height: 300px;
            border: 1px solid red;
            margin-top: 120px;
            position: relative;
        }

        .absolute-1, 
        .absolute-2 {
            width: 50px;
            height: 50px;
            background-color: #399;
            position: absolute;
        }

        .absolute-1{
            top: 10px;
            left: 10px;
        }

        .absolute-2{
            bottom: 10px;
            right: 10px;
        }

        /* - 47 - Position Fixed */
        .fixed{
            width: 100px;
            height: 100px;
            background-color: #851;
            border: 3px solid blue;
            position: fixed;
            top: 50px;
            right: 100px; 
        }

        /* - 48 - Position Sticky */
        .sticky{
            width: 100px;
            height: 100px;
            background-color: #994;
            border: 3px solid green;
            position: sticky;
            top: 10px;
        }
        
        /* - 49 - z-index */
        .absolute-3, 
        .absolute-4,
        .absolute-5 {
            width: 50px;
            height: 50px;
            background-color: #123;
            position: absolute;
        }

        .absolute-3{
            top: 0;
            left: 0;
            z-index: 3;
        }

        .absolute-4{
            top: 10px;
            left: 10px;
            background-color: #246;
            z-index: 2;
        }

        .absolute-5{
            top: 40px;
            left: 40px;
            background-color: red;
            z-index: 5;
        }

        
        


