/* 2 - Media query */
h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* 3 - min width */
p{
    background-color: red;
    color: black;
}
@media screen and (min-width: 800px) {
    p{
        background-color: #789;
        color: rgb(0, 255, 242);
    }
}

/* 4 - landscape */
h3 {
    display: none;
}
@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}